# Visual Studio specific
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.vscode/

# Build results
bin/
obj/
out/
AppPackages/
BundleArtifacts/
ClientBin/
[Oo]ut/
!out/README.md

# ASP.NET / Web related
wwwroot/node_modules/
wwwroot/lib/
node_modules/
bower_components/

# Logs, database, and sensitive information
*.log
*.tlog
*.pdb
*.mdb
*.db
*.bak
*.sql
secrets.json

# Environment files
.env
.env.local
.env.*.local

# Dependencies
packages/
.nuget/
project.lock.json
project.assets.json

# Rider / JetBrains files
.idea/
*.sln.iml

# Resharper files
*.DotSettings.user

# Windows specific
Thumbs.db
ehthumbs.db
desktop.ini
$RECYCLE.BIN/
